<!DOCTYPE html>
<html ng-app="themoviedbApp">
    <head>
        <base href="/">
        <title>Search movies</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
        <script src="@routes.Assets.versioned("javascripts/vendor/jquery-2.1.4.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/angular-ui-router.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/ui-bootstrap-tpls-0.13.0.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/controllers.js")" type="text/javascript"></script>
    </head>

    <body ng-controller="MoviesCtrl" ng-init="readFavoriteList()">
        <nav class="navbar navbar-default">
            <div class="container-fluid main-buttons">
                <div class="row">
                    <div class="col-md-4 index-movies">
                        <input class="form-control" id="query" type="text" ng-model="query" name="query">
                        <button ng-click="searchMovies()" class="btn btn-primary btn-sm" id="index">Search</button>
                        <div class="no-search-value" ng-show="showNoSearchValue">Please type here a movie title.</div>
                    </div>
                    <div class="col-md-4 add-list">
                        <input class="form-control" type="text" ng-model="listName" name="listName">
                        <button ng-click="createList()" class="btn btn-success btn-sm" id="createList">New list</button>
                        <div class="no-list-name" ng-show="noListName">Please enter a list name.</div>
                        <div class="existing-name" ng-show="existingName">A list with this name already exists.</div>
                    </div>
                    <div class="col-md-4 open-list form-group">
                        <select class="form-control" id="favoriteList">
                            <option ng-repeat="list in favoriteLists" listId="{{list.id}}">{{list.name}}</option>
                        </select>
                        <button ng-click="openFavoriteList()" class="btn btn-info btn-sm" id="openList">Open list</button>
                        <div class="no-list-exist" ng-show="noListExist">There is no any list yet.</div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="pagination-row">
                <pagination boundary-links="true" ng-show="totalItems != 0" total-items="totalItems" max-size="maxSize"
                items-per-page="itemsPerPage" ng-model="currentPage" ng-change="changePage()"></pagination>
            </div>
            <div class="row" id="movies">
                <div ng-repeat="mov in movieList" class="movie">
                    <button class="btn btn-default btn-sm add-to-favorite" ng-click="addMovieToFavorites(mov)">Add to favorite</button>
                    <div class='movie-title'>{{mov.title}}</div>
                    <img name="posterPath" ng-src="{{mov.poster_path}}">
                </div>
            </div>

            <div ui-view> </div>
        </div>
    </body>
</html>

