@import model.FavoriteList
@(list: FavoriteList)

<!DOCTYPE html>
<html ng-app="themoviedbApp">
    <head>
        <base href="/">
        <title>@list.name</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-theme.css")">
        <script src="@routes.Assets.versioned("javascripts/vendor/jquery-2.1.4.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/angular-ui-router.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/ui-bootstrap-tpls-0.13.0.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/controllers/controllers.js")" type="text/javascript"></script>
    </head>

    <body ng-controller="MoviesCtrl">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <a class="navbar-brand" href="/">New Search</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <h2>@list.name</h2>
                @for(m <- list.movies) {
                    <div class="movie">
                        <div class='movie-title'>@m.title</div>
                        <img name="posterPath" src="@m.posterPath">
                    </div>
                }
            </div>
        </div>
    </body>
</html>

